@inject NavigationManager NavManager

<MudContainer Class="d-flex align-center justify-center mud-width-full py-8" Style="border:solid; border-radius: 10px; border-color:rgba(33,150,243,1); margin-top: 20px; margin-bottom: 20px">
    <div>
        <h1>Welcome to Garage App</h1>
        <p>
            <input @onkeydown="SearchForEquip"
                   @bind="_searchResult"
                   @bind:event="oninput"
                   type="text"
                   placeholder="Search for..." />
        </p>
    </div>
</MudContainer>

@code {
    public string _searchResult = "";


    private void SearchForEquip(KeyboardEventArgs args)
    {
        if (args.Key != "Enter") return;
        NavManager.NavigateTo($"/GarageApp/search/{_searchResult}");
    }
}
